.section1 {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    .img-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0;
        transition: all 1000ms ease;
        z-index: 1;

        &.bg-on {
            opacity: 1;
            z-index: 2;
        }
    }

    .text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) translateY(30px);
        opacity: 0;
        transition: all 1000ms;
        z-index: 3;

        &.text-on {
            opacity: 1;
            transform: translate(-50%, -50%) translateY(0);
        }
        h1{
            font-size: 3rem;
            margin-bottom: 1.5rem;
        }
        button{
            padding: 1rem 2rem;
            font-size: 1.2rem;
            cursor: pointer;
            background-color: orange;
            color: #fff;
            border-radius: 20px;

            &:hover{
                outline: none;
            }

            &:focus{
                outline: none;
            }
        }
    }

    .big-circle{
        position: absolute;
        top: 0;
        right: 0;
        width: 15000px;
        height: 15000px;
        border-radius: 50%;
        background-color: orangered;
        transform: translate(50%, -50%);
        z-index: 5;
        transition: all 3000ms ease;
        opacity: 0;
        animation:  excircle 3000ms ease forwards;
    }

    @keyframes excircle{
        0%{
            width: 0;
            height: 0;
            opacity: 1;
        }
        100%{
            width: 15000px;
            height: 15000px;
            opacity: 0;
        }
    }
}